/*ul*/

.navigator_list {
	margin-left : 10pc;
	margin-right: 10pc;
	width       : 100pc;
	height      : 128px;
	padding     : 0px;
	list-style  : none;
}

/*li*/

.navigator_list_elm {
	list-style: none;
	/* 去掉li前的点 */
	float     : left;
	/*将li设置成做浮动，变为联动*/
}

.navigator_list_elm_category {
	list-style: none;
	/* 去掉li前的点 */
	float     : left;
	/*将li设置成做浮动，变为联动*/
}

/*a*/

.navigator_block {
	cursor          : pointer;
	display         : block;
	/*将a变成块状*/
	width           : 300px;
	height          : 50px;
	/*设置块的长度*/
	line-height     : 50px;
	/*设置字体在块中的高度*/
	background-color: rgba(48, 110, 183, 0.75);
	margin          : 0px 0px;
	/*块里的高宽通过margin设置*/
	color           : white;
	text-align      : center;
	/*字体居中*/
	text-decoration : none;
	/*去掉下划线*/
	font-size       : 16px;
}

.navigator_block:hover {
	background-color: rgba(48, 110, 183, 0.5);
	text-decoration : none;
	color           : black;
}

.navigator_category {
	display : none;
	position: absolute;
}