.search_textinput {
	width      : 30pc;
	height     : 40px;
	border     : 4px solid rgba(0, 128, 0, 0.75);
	float      : left;
	outline    : none;
	text-indent: 16px;
}

.search_button {
	width     : 100px;
	height    : 50px;
	background: rgba(0, 128, 0, 0.75);

	border: 0px;
	/*改成右浮动也是可以的*/
	float : left;
	color : white;
	/*搜索的字体颜色为白色*/
	cursor: pointer;
}